[Unit]
Description=Auto launch chisel server
After=network.target
ConditionPathExists=/opt/fts-lsmt/scripts/chisel/

[Service]
ExecStart=/opt/fts-lsmt/scripts/chisel/chisel-server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target