[Unit]
Description=Auto launch chisel client
After=network.target

[Service]
ExecStart=chisel client https://bastion.example.com R:50000:localhost:8006
Restart=on-failure

[Install]
WantedBy=multi-user.target