[Unit]
Description=Auto launch chisel client
After=network.target
ConditionPathExists=/opt/fts-lsmt/scripts/chisel/

[Service]
ExecStart=/opt/fts-lsmt/scripts/chisel/chisel-client.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target