[Unit]
Description=Daily system backup
After=network.target
ConditionPathExists=/opt/fts-lsmt/scripts/backup/

[Service]
ExecStart=/opt/fts-lsmt/scripts/backup/scheduler.py
Restart=always
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal

[Install]
WantedBy=multi-user.target
