[Unit]
Description=Auto notification global IP address
After=network.target
ConditionPathExists=/opt/fts-lsmt/scripts/mydns/

[Service]
ExecStart=/opt/fts-lsmt/scripts/mydns/scheduler.py
Restart=always
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal

[Install]
WantedBy=multi-user.target
